@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}
/*test*/

.nav {
    width: 100%;
    background: #b30101;
    height: 100px;

}


/*test*/
body
{
    margin: 0;
    background: #B0DEE9;
}

.action
{
    position: fixed;
    top:20px;
    right:30px;
    z-index: 3;
}
.action .profile
{
    position: relative;
    width:60px;
    height: 60px;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
}

.action .profile img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu
{
    position: absolute;
    top:120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing : 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;


}
.action .menu.active{
    top:80px;
    visibility: visible;
    opacity: 1;

}
.action .menu::before
{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu h3
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color:#555;
    line-height: 1.2em;
}

.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    cursor: pointer;

}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;

}
.action .menu ul li:hover img
{
    opacity: 1;
}
.action .menu ul li btn
{
    display: inline-block ;
    text-decoration:none ;
    color:#555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a{
    color:#ff5d94;
}

/////
.btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: blue;
    border-bottom: 1px solid;
    padding-bottom: 0.5px;
}
.btn:active {
    transform: scale(0.9);
}
.modal-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.modal {
    width: 650px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}

.modal2 {
    width: 750px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;

}
.modal .body .headers{
    text-align: center;
}

.modal2 .body .headers{
    text-align: center;
}
.modal2 .body .grid-info {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-template-rows: 220px;
    grid-gap:10px;
}
.modal2 .body .grid-info .info-item {
    align-self: end;

}
.modal2 .body img {
    align-self: center;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}
.modal.active {
    top: 40%;
}
.modal2.active {
    top: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid #cccccc;
}
.body {
    padding: 1.5rem;
}
/*test*/
.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    margin-top:  10px;
    left: 50%;
    transform: translate(-50%,-10%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #dadada;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.body .fbutton {
    width: 100%;
    height: 40px;
    background: #00cde0;
    color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
}
/*test*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
#overlay.active{
    display: block;
}

.row {
    text-align: center;

}

.column {
    float: left;
    width:33.26%;
    height: 1200px;
    padding-top: 20px;
    border-right: 1px solid black;

    align-items: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 100px;
    width: 400px;
    font-size: 16px;
    border-radius: 55px;
    background-color: #f1f1f1;
    line-height: 100%;
    margin-bottom: 20px;


}
.chip img {
    cursor: pointer;
    object-fit: cover;
}
.chip .profile {
    padding-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    text-align: center;
    padding-top: 20px;
}
.grid-item a {
    align-items: center;
    cursor: pointer;

}
.grid-item button {
    /*margin-top: 30px;*/
    float: right;
    @extend .transition;
    position: relative;
    display: inline-block;

    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #00cde0;
    color:white;
}
.grid-item button:hover {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}

.grid-item button:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}

.grid-item button:focus {
    outline: none;
}


.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 13em;
    margin: 1rem auto;
    border: 1px solid black;
}
////////////////


.transition { transition: all .1s ease; }

.section {
    padding: 0.5em;
    text-align: center;
}
.btn1 {
    @extend .transition;
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.btn1:hover {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}

.btn1:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}

.btn1:focus {
    outline: none;
}

.btn1.btn--basic {
    background-color: #00cde0;
    color: #000000;
    width: 340px;
}
.btn1.btn--basic2 {
    background-color: #a80000;
    color: #ffffff;
    width: 340px;
}

.btn-group {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0; margin: 0;
}
.btn-group__item {
    float: left;
}
.btn-group__item:first-child .btn1  {
    border-radius: 30px 0 0 30px;

}

.btn1 {
    border-radius: 0;
    margin: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.btn-group__item:last-child .btn1 {
    border-radius: 0 30px 30px 0;
    border-right: 0;

}
